<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Success!</title>
    <style>
        body {
            font-family: Arial, sans-serif; /* Clean, web-safe font */
            background-color: #f0f4f8; /* Light, soothing background color */
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }

        h1 {
            color: #333; /* Dark gray for contrast and readability */
        }

        p {
            background-color: #dff0d8; /* Soft green background for success message */
            color: #3c763d; /* Dark green text for readability and to match the success theme */
            padding: 20px;
            border-radius: 5px; /* Slightly rounded corners for a modern look */
            box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
            width: 100%; /* Full width within the padding of the body */
            max-width: 600px; /* Maximum width to keep the text readable */
            margin: auto; /* Center the paragraph */
        }
    </style>
</head>
<body>
    <h1>Welcome</h1>
    <p>Hello there, {{ email }}! Login Successful, Enjoy the website!.</p>
</body>
</html>
